body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* border-right: 2px solid blue; */
  border-right: 2px solid rgba(0, 0, 255, 0.447);
  background-color: white;
  overflow-x: hidden;
}

.sidenav a {
  /* color: blue; */
  /* color:rgba(0, 0, 255, 0.629); */
  color:black;
  padding: 14px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.sidenavb {
  /* color: blue; */
  /* color:rgba(0, 0, 255, 0.629); */
  height: 50%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 150;
  left: 0;
  /* border-right: 2px solid blue; */
  border-right: 2px solid rgba(0, 0, 255, 0.447);
  background-color: white;
  overflow-x: hidden;
}

.sidenavb a{
  color:black;
  padding: 14px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.sidenav a:hover {
  background-color: rgba(0, 0, 255, 0.447);
  color: white;
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}