body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: white;
  color: blue;
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}